<h3>Reservation List</h3>

<table *ngIf="reservations.length; else noReservations">
  <thead>
    <tr>
      <th>Guest</th>
      <th>Email</th>
      <th>Room No.</th>
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.guestName }}</td>
      <td>{{ reservation.guestEmail }}</td>
      <td>{{ reservation.roomNumber }}</td>
      <td>{{ reservation.checkInDate }}</td>
      <td>{{ reservation.id }}</td>
      <td>
        <button (click)="onRemove(reservation.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noReservations>There is no reservations yet.</ng-template>
